* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding-left: 37px;
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 37px;
}

.gallery img {
  width: 900px;
  height: 500px;
  align-self: center;
}

.gallery h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.gallery p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  margin-bottom: 50px;
}

.allCards {
  width: 90%;
  height: 350px;
  display: flex;
  margin-left: 37px;
  overflow-x: scroll;
}

.cards {
  min-width: 176px;
  height: 300px;
  margin-right: 10px;
}

.about {
  height: 10%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;

}

.about p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  padding-top: 10px;
}

.pic {
  height: 80%;
  position: relative;
}

.text {
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  background-color: white;
}

.text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 110%;
}


.rating {
  display: flex;
  align-items: center;
}


.star {
  width: 14px;
  height: 14px;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.gray {
  color: gray;
}

.bold {
  font-weight: bold;
}

@media only screen and (max-width: 920px) {
  .gallery img {
    width: 100%;
    height: 300px;
  }
}